<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="{active: $state.includes('view1')}"><a ui-sref="view1">View 1</a></li>
				<li ng-class="{active: $state.includes('view2')}"><a ui-sref="view2">View 2</a></li>
				<li ng-class="{active: $state.includes('nested')}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nested <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="nested.nested1">Nested 1</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>